<% if flash.has?(:message) %>
 <b><%= flash[:message] %></b>
<% end %>

<h1><%= @user.username %>, welcome to your cabinet hub.</h1>
  <br>
<h3>Create a new <a href="/mycabinets/new">cabinet</a>.</h3>
  <br>
<h3>Visit the <a href="/strains">Strain Library</a> to browse or create a new <a href="/strains/new">Strain</a>.</h3>
<div class="container">
  <% @user.cabinets.each do |cabinet| %>
    <div class="row">
      <a href="/mycabinets/<%= cabinet.slug %>"><h2><%= cabinet.name %></h2></a>
      <% cabinet.strains.each do |strain| %>
        <a href="/strains/<%= strain.slug %>"><%= strain.name %></a>
        <br>
      <% end %>
    </div>
  <% end %>
</div>

<p><a href="/logout">Log Out</a></p>
<!-- flash message, if cabinet empty prompt to create one -->
