<h1>Edit Cabinet <%= @cabinet.name %></h1>

<div class="">
  <form class="" action="/mycabinets/<%= @cabinet.slug %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="cabinet_name">Cabinet Name:</label>
      <input type="text" name="cabinet_name" value="<%= @cabinet.name %>">
      <br>
    <label for="strain_name">Strains (uncheck to remove):</label>
    <% @cabinet.strains.each do |strain| %>
        <br>
      <input type="checkbox" name="strains[]" value="<%= strain.id %>"
        <%= 'checked' if @cabinet.strains.include?(strain) %>><%= strain.name %></input>
    <% end %>
    <br>
    <input type="submit" name="submit" value="Update">
  </form>
  <br>
  <a href="/mycabinets/<%= @cabinet.slug %>">Back</a>
</div>
