<% if flash.has?(:message) %>
 <b><%= flash[:message] %></b>
<% end %>
<a href="/myaccount">Home</a>
<a href="/mycabinets/<%= @cabinet.slug %>/edit">Edit Cabinet</a>
<a href="/strains">Strain Library</a>
<h1><%= @cabinet.name %></h1>

<h2>Your collected Strains:</h2>


<% if !@cabinet.strains.empty? %>
  <% @cabinet.strains.each do |strain| %>
    <a href="/strains/<%= strain.slug %>"><h3><%= strain.name %></h3></a>
      <!-- <br> -->
  <% end %>
<% else %>
  <h3><%= @cabinet.name %> is empty. Please create or add strains <a href="/strains">here.</a>
<% end %>

<form class="" action="/mycabinets/<%= @cabinet.slug %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="Delete Cabinet">
</form>
