<a href="/myaccount">Home</a> <a href="/mycabinets/<%= @cabinet.slug %>/edit">Edit</a>
<h1><%= @cabinet.name %></h1>

  <br>

<h2>Your collected Strains:</h2>

  <!-- <br> -->

<% if !@cabinet.strains.empty? %>
  <% @cabinet.strains.each do |strain| %>
    <a href="/strains/<%= strain.slug %>"><h3><%= strain.name %></h3></a>
      <!-- <br> -->
  <% end %>
<% else %>
  <h3><%= @cabinet.name %> is empty. Please create or add strains <a href="/strains">here.</a>
<% end %>

<form class="" action="/mycabinets/<%= @cabinet.slug %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="Delete Cabinet">
</form>
