<a href="/myaccount">Home</a> <a href="/strains/<%= @strain.id %>/edit">Edit</a>
<h1><%= @strain.name %></h1>

<h2>Category: <%= @strain.category %></h2>

<h3>Positives:</h3>
<p><h3><%= @strain.positives %></h3></p>

<h3>Negatives:</h3>
<p><h3><%= @strain.negatives %></h3></p>
